/* Bejamin Filipenko and Chris de Leon*/

/* GLOBAL STYLES */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat'; /* Only font we'll be using */
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    text-align: center;
    height: 12vh;
    width: 100%;
    transition: 0.3s ease;

}

.navbar:hover {
    background-color: rgba(0, 0, 0, 0.5);
    
}









/* STYLES FOR THE NAVBAR */